<script>
    import Category from "./Category.svelte";
    import category from "../../store/category";
    const fetchedCategories = category.rawCategories;
    export let amountOfAuctions = 0;

</script>

<div>
    <h5>
        Categories
    </h5>
    <div>
        <Category amountOfAuctions="{amountOfAuctions}" value="base"/>
        {#each $fetchedCategories as category}
            <Category amountOfAuctions="{amountOfAuctions}" value="altered" impCategory="{category}"/>
        {/each}
    </div>

</div>

<style>
    h5 {
        color: #75a1c2;
    }
</style>