<script>
    import CategoryAmount from "./CategoryAmount.svelte";
    import auction from "../../store/auction";

    export let impCategory = {};
    export let value;
    export let amountOfAuctions = 0;

    function setActiveCategory(category) {
        auction.activeCategory.set(category);
    }

</script>

<div>
    {#if value === "altered"}
        <button on:click={() => setActiveCategory({category: impCategory.category})}>
            {impCategory.category}
        </button>
        <CategoryAmount amount="{impCategory.amount}"/>
    {:else}
        {#if value === "base"}
            <button on:click={() => setActiveCategory({category: "All"})}>
                All
            </button>
            <CategoryAmount amount="{amountOfAuctions}"/>
        {/if}
    {/if}
</div>

<style>
    button {
        color: #1886DB;
        padding: 0;
        margin-right: 0.2em;
        background-color: transparent;
        border: none;
    }

    button:hover {
        color: #12B20F;
        text-decoration: underline;
    }

    button:focus {
        background-color: inherit;
    }

    div {
        display: flex;
        align-items: center;
        text-align: center;
    }
</style>

