<script>
    let error = "";

    export {
        error
    }
</script>

<div class="alert alert-danger" role="alert">
    {error}
</div>

<style>
    .alert {
        width: 100%;
        border: 1px solid;
        display: block;
        padding: 7px 10px 7px 10px;
        margin: 10px 0 10px 0;
        line-height: 20px;
        min-height: 20px;
        text-align: left;
        border-radius: 3px;
        border-left-width: 5px;
        font-size: 1rem;
    }
</style>