<script>
    import CategoryWrapper from "./Category/CategoryWrapper.svelte";
    import PriceRangeWrapper from "./PriceRange/PriceRangeWrapper.svelte";

    export let auctions = [];

</script>

<aside>
    <div>
        <CategoryWrapper amountOfAuctions="{auctions.length}"/>
    </div>
    <div>
        <PriceRangeWrapper/>
    </div>
</aside>
<style>
    aside {
        float: left;
        margin-right: 1em;
        padding: 1em;
        border-radius: 0.5em;
        background-color: #060826;
    }

    div:not(div:last-of-type) {
        margin-bottom: 1em;
    }
</style>

