<script>
    import router from "page";
    import user from "../store/user";

    const loggedInUser = user.getUser()

    const logout = () => {
        user.logout();
        router.redirect("/")
    }
</script>

<nav class="navbar container">
    <a href="/" class="navbar-brand">
        <img height="50" class="d-inline-block align-top" src="../../images/logo.png" alt="logo"/>
    </a>

    <div class="form-inline my-2 my-lg-0">

        {#if $loggedInUser}
            <a class="navbar__link" href="/account">{$loggedInUser.username}</a>
            <button class="navbar__link" on:click="{logout}">Logout</button>
        {:else}
            <a class="navbar__link" href="/login">Login</a>
        {/if}
    </div>
</nav>

<style>
    .navbar__link{
        font-size: 1.4rem;
    }

    .navbar__link:not(:last-child) {
        margin-right: 2rem;
    }
</style>
