<script>
    import { createEventDispatcher } from "svelte";
    import { getAmountOfPages } from "../scripts/pagination";

    export let amountOfItems;
    export let perPage;

    let amountOfPages;
    $: amountOfPages = getAmountOfPages(amountOfItems, perPage);

    // const amountOfPages = Math.ceil(amountOfItems / 10);
    let currentPage = 1;


    const dispatch = createEventDispatcher();

    const changePage = (page) => {
        if(page !== currentPage && page >= 1 && page <= amountOfPages) {
            currentPage = page
            dispatch("change", {page, perPage, amountOfPages})
        }       
    }


</script>

{#if amountOfPages > 1}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item {currentPage === 1 ? 'disabled' : ''}">
            <button class="page-link" on:click={()  => changePage(currentPage - 1)}>Previous</button>
        </li>

        {#each Array(amountOfPages) as _, pagenr}
            <li class="page-item {pagenr + 1 === currentPage ? 'active' : ''}">
                <button class="page-link" on:click={() => changePage( pagenr + 1)}>{pagenr + 1}</button>
            </li>
        {/each}


        <li class="page-item {currentPage === amountOfPages ? 'disabled' : ''}">
            <button class="page-link" on:click={() => changePage(currentPage + 1)} >Next</button>
        </li>
    </ul>
</nav>
{/if}