<script>
    import auctionStore from "../../store/auction";
    import CreateBid from "../../components/Bid/CreateBid.svelte";
    import userStore from "../../store/user";
    import AdminOptions from "../../components/Auction/AdminOptions.svelte";
    import Movie from "../../components/Movie/Movie.svelte";
    import BidWrapper from "../../components/Bid/BidWrapper.svelte";

    export let params = {};
    let id;
    let thisAuction = [];
    let thisMovie = [];
    let highestBid = "No bids have been placed."
    let amountOfBids = 0;
    let videoLink;

    const isAdmin = userStore.getIsAdmin();
    const fetchedAuctions = auctionStore.rawAuctions;

    //Watcher handles the fetch data after auctionStore.fetchData is done.
    $: {
        handleFetchData($fetchedAuctions)
    }


    const handleFetchData = (data) => {
        id = params.id;
        for (let auction of data) {
            if (auction.id === id) {
                thisAuction = auction;
                thisMovie = auction.movie;
                setVideo();
                if (auction.bids.length > 0) {
                    highestBid = '€' + auction.bids[thisAuction.bids.length - 1].price;
                    amountOfBids = auction.bids.length;
                } else {
                    highestBid = "No bids have been placed";
                }
            }
        }
    }

    const setVideo = () => {
        if(thisMovie.videoLink) {
            videoLink = thisMovie.videoLink;
        }

    }

</script>

<section class="info-container">
    {#await auctionStore.fetchData()}
        <div class="spinner-border" role="status"></div>
    {:then test}
        {#if thisAuction}
            <section class="summary">
                <h3 class="centered title">{thisAuction.title}</h3>
            </section>
            <section class="bidding-info highlighted">
                <div class="movie-holder">
                    <div class="movie-holder">
                        <Movie showStatus="{false}" movie="{thisMovie}"/>
                    </div>
                </div>
                <div class="bid-holder">
                    <CreateBid auctionID="{thisAuction.id}"/>
                </div>
            </section>
            {#if $isAdmin}
                <section class="auction-info highlighted">
                    <h5 class="title">
                        <i class="bi bi-pen"></i> Edit Auction
                    </h5>
                    <AdminOptions auction="{thisAuction}"/>
                </section>
            {/if}

            <section class="auction-info highlighted">
                <h5 class="title">
                    <i class="bi bi-hammer"></i> Auction Information
                </h5>
                <div class="columns">
                    <p>
                        <strong>Title:</strong> {thisAuction.title} <br>
                        <strong>Auction ID:</strong> {thisAuction.id} <br>
                        <strong>End date:</strong> {new Date(thisAuction.endDate)}
                    </p>
                    <p>
                        <strong>Highest Bid:</strong> {highestBid} <br>
                        <strong>Starting Price:</strong> €{thisAuction.startingPrice} <br>
                        <strong>Amount of Bids:</strong> {amountOfBids}
                    </p>
                </div>
            </section>
            {#if thisAuction.bids.length >= 1}
                <section class="auction-info highlighted">
                    <h5 class="title">
                        <i class="bi bi-cash-stack"></i> Bids Information
                    </h5>
                    <div>
                        <BidWrapper bids="{thisAuction.bids}"/>
                    </div>
                </section>
            {/if}
            <section class="auction-info highlighted">
                <h5 class="title">
                    <i class="bi bi-film"></i> Movie Information
                </h5>
                <div class="columns">
                    <p>
                        <strong>Title:</strong> {thisMovie.title} <br>
                        <strong>Description:</strong> {thisMovie.description} <br>
                        <strong>Category:</strong> {thisMovie.category} <br>
                    </p>
                    <p>
                        <strong>Length:</strong> {thisMovie.lengthInMinutes} minutes <br>
                        <strong>Year of release:</strong> {thisMovie.yearOfRelease} <br>
                        <strong>Rating:</strong> {thisMovie.rating}/10 <br>
                    </p>
                </div>
            </section>
            <section class="auction-info highlighted">
                <h5 class="title">
                    <i class="bi bi-camera-reels"></i> Movie trailer
                </h5>
                {#if videoLink}
                    <h6>Watch the trailer of this movie in the video player below. Alternatively,
                        <a target="_blank" href="{videoLink}">watch it online</a>.</h6>
                    {#if videoLink.includes("youtube.com")}
                        <iframe height="600" width="900" src="{videoLink}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {:else}
                        <video controls>
                            <source src="{videoLink}" type="video/mp4">
                            <track src="public/captions/nocues.vtt" kind="captions" srclang="en" label="english_captions">
                            Your browser does not support the video tag.
                        </video>
                    {/if}
                {:else}
                    <h6>This movie has no trailer. Search for a trailer on Google by clicking on
                        <button on:click={window.open('http://google.com/search?q=' + thisMovie.title + " trailer")}>this
                        </button>
                        link.
                    </h6>
                {/if}
            </section>
        {:else}
            <div>
                No auction found with this auction ID.
            </div>
        {/if}
    {/await}
</section>

<style>

    .info-container {
        display: flex;
        flex-direction: column;
    }

    .bidding-info {
        display: flex;
        flex-wrap: wrap;
        /*flex-direction: row;*/
        gap: 10em;
        padding-bottom: 3em;
        align-items: center;
        justify-content: center;
    }

    .columns {
        padding: 1em;
        columns: 2 150px;
        column-rule: 0.1em dashed;
        column-gap: 5em;
        width: 75%;
        background-color: rgba(185, 193, 197, 0.33);
        border-radius: 0.5em;
        letter-spacing: 0.02em;
    }

    .bid-holder {

    }

    .auction-info {
        padding: 3em;
    }

    .summary {
        padding: 1em;
        margin-bottom: 3em;
    }

    .centered {
        text-align: center;
    }

    .highlighted {
        border-bottom: 0.1em solid #b0a9a9;
    }

    .title {
        padding-bottom: 1em;
        text-transform: uppercase;
    }

    button {
        padding: 0;
        margin: 0;
    }

    i {
        margin-right: 0.25em;
    }
</style>