<script>
    import Alert from "../../components/Alert.svelte";
    import auctionStore from "../../store/auction.js";
    import movieStore from "../../store/movie.js";
    import errorStore from "../../store/error.js"


    export let params = {};
    let id;

    const fetchedMovies = movieStore.rawMovies;

    //Watcher handles the fetch data after movieStore.fetchData is done.
    $: {
        handleFetchData($fetchedMovies)
    }

    const handleFetchData = (data) => {
        id = params.id;

        // Get the Movie we're selling by ID
        for (let movie of $fetchedMovies) {
            if (movie.id === id) {
                auctionData.movie = movie;
            }
        }
    }

    const today = new Date();
    const date = today.getFullYear()+'-'+("0" + (today.getMonth() + 1)).slice(-2)+'-'+("0" + (today.getDate() + 1)).slice(-2);
    const time = ((today.getHours() > 9) ? today.getHours() : "0" + today.getHours()) + ":" +("0" + (today.getMinutes() + 1)).slice(-2);
    const dateTime = date+'T'+time;

    let dateInput = dateTime;

    let auctionData = {
        title: null,
        movie: null,
        startingPrice: null,
        endDate: null
    }

    const createAuction = (event) => {
        auctionData.endDate = new Date(dateInput).toISOString();
        auctionStore.createAuction(auctionData);
    }

    //clearing store first, remove any existing errors
    errorStore.setError(null);
    let error = errorStore.error;

    export {
        auctionData, error
    }
</script>

{#await movieStore.fetchData() }
    <div class="spinner-border" role="status"></div>
{:then test}
    <main class="createAuction">
        <div class="container form__wrapper">
            <div class="row">
                <div class="col-12 col-lg-6 form__left">
                    <div class="form__left__title">
                        <h1> Selling Movie:</h1>
                    </div>
                    <div class="mt-4 form__left__body">
                        <div>
                            <p class="text-center movie__title">{auctionData.movie.title}</p>
                        </div>

                        <div class="text-center movie__details">
                            <p>{auctionData.movie.category} / {auctionData.movie.lengthInMinutes} <i class="bi bi-stopwatch"></i> / {auctionData.movie.rating}
                                <i class="bi bi-star"></i> / {auctionData.movie.yearOfRelease} </p>
                        </div>

                        <div class="movie__description-section">
                            <p class="description__title"><strong>Description</strong></p>
                            <p class="movie__description-section__text">{auctionData.movie.description}</p>
                        </div>
                    </div>

                    <div class="createAuction__cancel-button">
                        <a href="/movies"><i class="bi bi-arrow-left-circle"></i> Go Back</a>
                    </div>
                </div>

                <div class="col-12 col-lg-6 form__right">
                    <form class="form">
                        <h1 class="mb-4">CREATE AUCTION</h1>

                        {#if $error}
                            <div class="form__row">
                                <Alert bind:error={$error}/>
                            </div>
                        {/if}

                        <label for="title" class="form__label">AUCTION TITLE</label>
                        <div class="form__row">
                            <input id="title" type="text" bind:value="{auctionData.title}" name="title" class="input input__text {$error && !auctionData.title ? 'inputError' : ''}" placeholder="Enter auction title" autocomplete="off">
                        </div>

                        <label for="startingPrice" class="form__label">STARTING PRICE</label>
                        <div class="form__row">
                            <input id="startingPrice" type="number" min="0" bind:value="{auctionData.startingPrice}" name="startingPrice" class="input input__text {$error && !auctionData.startingPrice ? 'inputError' : ''}" placeholder="Enter starting price" autocomplete="off">
                        </div>

                        <label for="endDate" class="form__label">END DATE</label>
                        <div class="form__row">
                            <input id="endDate" type="datetime-local" min="{dateTime}" bind:value="{dateInput}" name="endDate" class="input input__text {$error && !auctionData.endDate ? 'inputError' : ''}" placeholder="End Date">
                        </div>

                        <div class="form__row">
                            <input id="createAuction-button" type="submit" value="CREATE" on:click|preventDefault="{() => createAuction()}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{/await}

<style>
    .createAuction {
        height: calc(100vh - 75px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .createAuction__cancel-button {
        margin-top: auto;
        font-size: 1.5em;
    }

    .form__left__body {
        position: relative;
        width: 80%;
        height: auto;
        border: 1px solid black;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 5px 5px 15px 5px #CECECE;
        overflow: hidden;
    }

    .movie__title {
        font-size: 2em;
        margin: 0;
    }

    .movie__details {
        color: darkgrey;
    }

    .movie__description-section > p {
        margin: 0;
    }

    /* Mobile phones */
    @media screen and (max-width: 576px) {
        .createAuction {
            padding-top: 2rem;
            height: initial;
        }

    }

</style>