<script>
    import {Confirm} from 'svelte-confirm'
    import userStore from "../../store/user";
    import AuctionPatchForm from "./AuctionPatchForm.svelte";
    import auctionStore from "../../store/auction";

    export let auction;
    const isAdmin = userStore.getIsAdmin();
    let isMenuDropped = false;
    let isFormDropped = false;
    let userInput = undefined;
    let contentType = undefined;

    function toggleDropdown() {
        isMenuDropped = !isMenuDropped;
    }

    function togglePatchForm(type) {
        if (type === "hasEnded") {
            auctionStore.patchAuction({hasEnded: true}, auction.id);
            isFormDropped = false;
        } else {
            if (contentType === type) {
                isFormDropped = !isFormDropped;
            } else {
                contentType = type;
                switch (type) {
                    case("endDate"):
                        const today = new Date();
                        const date = today.getFullYear() + '-' + ("0" + (today.getMonth() + 1)).slice(-2) + '-' + ("0" + (today.getDate())).slice(-2);
                        const time = ((today.getHours() > 9) ? today.getHours() : "0" + today.getHours()) + ":" + ("0" + (today.getMinutes() + 1)).slice(-2);
                        userInput = date + 'T' + time;
                        break;
                    case("startingPrice"):
                        userInput = 0;
                        break;
                    default:
                        userInput = "New " + type.toString();
                }
                isFormDropped = true;
            }
        }
    }

    function deleteAuction() {
        auctionStore.deleteAuction(auction.id);
    }

</script>


{#if $isAdmin}
    <Confirm let:confirm="{confirmThis}">
        <div class="options-wrapper">
            <button on:click={toggleDropdown} class="">
                {#if isMenuDropped}
                    <i class="bi bi-caret-down-fill"></i> Edit
                {:else }
                    <i class="bi bi-caret-down"></i> Edit
                {/if}
            </button>
            {#if isMenuDropped}
                {#if isFormDropped}
                    <AuctionPatchForm auction="{auction}" type="{contentType}" userInput="{userInput}"/>
                {/if}
                <ul id="dd-menu">
                    <li>
                        <button on:click={() => togglePatchForm("title")}>
                            Change title
                        </button>
                    </li>
                    {#if !auction.hasEnded}
                        {#if auction.bids.length === 0}
                            <li>
                                <button on:click={() => togglePatchForm("startingPrice")}>
                                    Change starting price
                                </button>
                            </li>
                        {/if}
                        <li>
                            <button on:click={() => togglePatchForm("endDate")}>
                                Change end date
                            </button>
                        </li>
                        <li>
                            <button on:click={() => {
                            isFormDropped = false;
                            confirmThis(togglePatchForm, "hasEnded")
                        }}>
                                End this auction
                            </button>
                        </li>
                    {/if}

                </ul>
            {/if}
            <div class="delete-holder">
                <button on:click={confirmThis(deleteAuction)}>
                    <i class="bi bi-trash"></i> Delete this auction
                </button>
            </div>
        </div>
    </Confirm>
{/if}


<style>
    .options-wrapper {
        width: 20em;
        background-color: rgba(185, 193, 197, 0.33);
    }

    #dd-menu {
        display: flex;
        flex-direction: column;
        list-style-type: square;
    }

</style>