<script>
    import {onMount} from "svelte";
    import auctionStore from "../../store/auction";

    const fetchedAuctions = auctionStore.rawAuctions;
    export let auctionID = [];
    let auction = [];
    let days, hours, minutes, seconds, weeks;
    let auctionEndTime;

    //Watcher handles the fetch data after auctionStore.fetchData is done.
    $: {
        handleFetchData($fetchedAuctions)
    }

    const handleFetchData = (data) => {
        for (let item of data) {
            if (auctionID === item.id) {
                auction = item;
                auctionEndTime = new Date(auction.endDate).getTime();
            }
        }
    }

    onMount(() => {
        auctionEndTime = new Date(auction.endDate).getTime();
        let timeDifference = auctionEndTime - new Date().getTime();
        if (timeDifference > 0) {
            setTimes(timeDifference);

            const countdown = setInterval(function () {
                let currentTime = new Date().getTime();
                let remainingTime = auctionEndTime - currentTime;

                if (remainingTime > 0) {
                    setTimes(remainingTime);
                } else {
                    auctionStore.patchAuction({hasEnded: true}, auction.id);
                    clearInterval(countdown);
                }
            }, 1000);

            return () => {
                clearInterval(countdown);
            }
        }
    });

    // Math copied from https://www.educative.io/edpresso/how-to-create-a-countdown-timer-using-javascript
    function setTimes(remainingTime) {
        weeks = Math.floor((remainingTime / (1000 * 60 * 60 * 24 * 7)));
        days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
        hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
        seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);
    }

    function getTime(time, name){
        if(time === 1) {
            return time + ' ' + name;
        }
        return time + ' ' + name + 's';
    }

</script>

<section>
    <h5 class="title">Time remaining:</h5>
    {#await auctionStore.fetchData()}
        loading auction...
    {:then test}
        {#if !auction.hasEnded}
            <div class="time-wrapper">
                {#if weeks}
                    <div class="time">
                            {getTime(weeks, "Week")}
                    </div>
                {:else}
                    {#if days}
                        <div class="time">
                            {getTime(days, "Day")}
                        </div>
                    {/if}

                    {#if hours}
                        <div class="time">
                            {getTime(hours, "Hour")}
                        </div>
                    {/if}

                    {#if (minutes && !days)}
                        <div class="time">
                            {getTime(minutes, "Minute")}
                        </div>
                    {/if}

                    {#if !days && !hours}
                        <div class="time">
                            {getTime(seconds, "Second")}
                        </div>
                    {/if}
                {/if}
            </div>
        {:else}
            <h5 class="title">this auction has ended.</h5>
        {/if}
    {/await}
</section>

<style>
    section {
        padding: 1em;
    }

    .time-wrapper > div:first-of-type {
        font-size: 30px;
        font-weight: bold;
    }

    .title {
        font-style: italic;
        opacity: 75%;
    }


</style>
