<script>
    import auctionStore from "../../store/auction.js";
    import userStore from "../../store/user.js"

    let statusText = "All"
    let filters = {
        title: null,
        status: "all"
    }

    const setStatusText = () => {
        if(status === "all") {
            statusText = "All"
        } else if(status === "active") {
            statusText = "Active"
        } else {
            statusText = "Expired"
        }
    }

    const setStatus = (data) => {
        status = data
        setStatusText();
    }

    let searchTerm = '';
    let status = "all"
    $: auctionStore.searchTerm.set(searchTerm)

    $: auctionStore.status.set(status)

    const loggedInUser = userStore.getUser();
    const isAdmin = userStore.getIsAdmin();

</script>

<nav class="navbar navbar-expand-lg navbar-dark auction-filter">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Search -->
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Zoek Auction" aria-label="Search" bind:value="{searchTerm}">
        </form>
        
        <!-- Status -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <button class="dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {"Status: " + statusText}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><button class="dropdown-item auction-filter__status-menu-item" on:click="{() => setStatus('all')}">All</button></li>
                    <li><button class="dropdown-item auction-filter__status-menu-item" on:click="{() => setStatus('active')}">Active</button></li>
                    <li><button class="dropdown-item auction-filter__status-menu-item" on:click="{() => setStatus('expired')}">Expired</button></li>
                </ul>
            </li>
        </ul>

        {#if $isAdmin}
            <a class="auction-filter__create" href="/movies">Movies</a>
        {/if}
    </div>
</nav>

<style>
    .auction-filter {
        width: 100% !important;
        margin-bottom: 2rem;
        background-color: var(--dark) !important;
        border-radius: 10px;
        padding: 0.5rem 0.8rem ;
        display: flex;
        align-items: center;
    }

    .auction-filter__create {
        margin-left: auto !important;
    }

    .auction-filter__status-menu-item {
        color: var(--primary-blue) !important;
    }

    .auction-filter__status-menu-item:hover {
        color: var(--primary-green) !important;
    }
</style>