<script>
    import router from "page";

    export let list;
    const endDate = () => {
        return new Date(list.endDate).toLocaleDateString();
    }

    const endTime = () => {
        return new Date(list.endDate).toLocaleTimeString();
    }

    const openAuction = () => {
        router.redirect(`/auctions/${list.id}`)

    }

    function getHighestBid() {
        if (list.bids.length > 0) {
            return list.bids[list.bids.length - 1].price;
        } else {
            return list.startingPrice;
        }
    }

</script>

<div class="auction-card" on:click={openAuction}>
    <div class="auction-card__image">
        {#if list.movie.imageLink}
            <img src="{list.movie.imageLink}" alt="Movie Poster">
        {:else}
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="Movie Poster">
        {/if}
    </div>
    <div class="auction-card__card">
        <div class="card-header auction-card__card__header">
            <span> {list.title} </span>
        </div>

        <div class="card-body pt-1">
            <hr/>
            <span><strong>Movie:</strong></span> <br/>
            <span>{list.movie.title}</span> <br/>
            <span>{list.movie.category} / {list.movie.lengthInMinutes} &nbsp <i class="bi bi-stopwatch"></i> &nbsp / {list.movie.rating}
                &nbsp <i class="bi bi-star"></i> &nbsp / {list.movie.yearOfRelease}
            </span>

            <hr/>

            <span><strong>Highest Bid:</strong> €{getHighestBid()}</span> <br>
            <span><strong>Starting Price:</strong> €{list.startingPrice} </span>

            <hr/>

            <span><strong>End Date:</strong> {endDate()}</span> <br/>
            <span><strong>End Time:</strong> {endTime()}</span>

            <hr/>

            <span><strong>Status:</strong> {!list.hasEnded ? 'Active' : 'Expired'}</span>
        </div>
    </div>
</div>


<style>
    .auction-card {
        cursor: pointer;
        width: 85%;
        margin: auto;
    }

    .auction-card__image {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.5rem;
        width: 100%;
        height: 15em;
        box-shadow: 5px 5px 15px 5px #bbb9b9;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .auction-card__image > img {
        width: 100%;
    }

    .auction-card__card {
        position: relative;
        left: 50%;
        transform: translate(-50%, -25px);
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.5rem;
        width: 95%;
        background-color: var(--dark);
        color: white;
        padding-top: 0;
        overflow: hidden;
    }

    .auction-card__card__header {
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

</style>