<script>
    import { slide } from 'svelte/transition';
    import Auction from "./Auction.svelte"
    import category from "../../store/category";
    import auctionStore from "../../store/auction";
    import Pagination from "../Pagination.svelte"
    import AuctionFilter from './AuctionFilter.svelte';
    import AsideFilters from "../AsideFilters.svelte";

    let paginatedAuctions = [];
    let filteredAuctions = auctionStore.getFilteredAuctions();

    const fetchedAuctions = auctionStore.rawAuctions;

    //Watcher handles the fetch data after auctionStore.fetchData is done.
    $: {
        handleFetchData($fetchedAuctions)
    }

    const handleFetchData = (data) => {
        setPaginatedAuctions(1)
        category.generateCategories(data);
    }

    //Watcher (Reactivity) which calls the filteredListChanged function when filteredAuctions changes
    $: {
        filteredListChanged($filteredAuctions);
    }

    //Pagination
    const perPage = 4;
    const changePage = (params) => {
        setPaginatedAuctions(params.page)
    }

    const filteredListChanged = (filteredList) => {
        setPaginatedAuctions(1)
    }

    const setPaginatedAuctions = (page) => {
        paginatedAuctions = auctionStore.paginatedAuctions(page, perPage);
    }
</script>

{#await auctionStore.fetchData() }
    <div class="spinner-border" role="status"></div>
{:then auctions}
        <AsideFilters auctions="{$filteredAuctions}"/>

    <section class="auction-section">
        <AuctionFilter/>

        {#if paginatedAuctions.length <= 0}
            <div class="auction-section">
                <p>No auctions found</p>
            </div>
        {:else}
        <div class="auction-wrapper">

            {#each paginatedAuctions as item}
            <span in:slide>
                <Auction list={item}/>
            </span>
            {/each}

        </div>

        <Pagination
            amountOfItems="{$filteredAuctions.length}"
            {perPage}
            on:change="{(ev) => changePage(ev.detail)}"
        />
        {/if}
    </section>
{/await}

<style>
    .auction-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 100%;
    }

    .auction-wrapper {
        margin-bottom: 2rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
        grid-row-gap: .5em;
        grid-column-gap: 1em;
    }
</style>





