<script>
    import auctionStore from "../../store/auction";
    import Alert from "../Alert.svelte";
    import errorStore from "../../store/error.js"

    export let auction;
    export let type;
    export let userInput;
    errorStore.setError(null);
    let error = errorStore.error;
    let now;

    if (type === 'endDate') {
        now = userInput;
    }

    function patchForm() {
        let patchObject = {};
        if (!userInput) {
            const errorMessage = ("Field cannot be empty!");
            errorStore.setError(errorMessage)
        } else {
            patchObject[type] = userInput;
            auctionStore.patchAuction(patchObject, auction.id);
        }
    }

    export {
        error
    }
</script>
<form class="form">
    {#if $error}
        <div class="form__row">
            <Alert bind:error={$error}/>
        </div>
    {/if}
    <div class="form__row">
        <input type="text" bind:value="{type}" name="type" class="input input__text disabled" disabled="disabled">
    </div>

    {#if type === "endDate"}
        {#if !auction.hasEnded}
            <div class="form__row">
                <input type="datetime-local" min="{now}" bind:value="{userInput}" name="endDate"
                       class="input input__text {$error && !userInput ? 'inputError' : ''}" autocomplete="off">
            </div>
        {/if}
    {:else}
        {#if type === "startingPrice"}
            <div class="form__row">
                <input type="number" min="{0}" bind:value="{userInput}" name="startingPrice"
                       class="input input__text {$error && !userInput ? 'inputError' : ''}" autocomplete="off">
            </div>
        {:else}
            <div class="form__row">
                <input type="text" bind:value="{userInput}" name="val"
                       class="input input__text {$error && !userInput ? 'inputError' : ''}" autocomplete="off">
            </div>
        {/if}

    {/if}

    <div class="form__row">
        <input id="patchAuction-button" type="submit" value="UPDATE" on:click|preventDefault="{() => patchForm()}">
    </div>
</form>

<style>
    form {
        background-color: var(--dark);
    }

    .disabled {
        text-transform: uppercase;
    }

</style>