<script>
    import Alert from "../../components/Alert.svelte";
    import movieStore from "../../store/movie.js";
    import errorStore from "../../store/error.js"
    import media from "../../scripts/media"

    let movieData = {
        title: null,
        description: null,
        category: null,
        lengthInMinutes: null,
        yearOfRelease: null,
        rating: null,
        imageLink: null,
        videoLink: null
    }

    let image;
    let video;
    let waitForImage = true;
    let waitForVideo = true;

    const createMovie = async () => {
        pushFiles();
    }

    const pushFiles = () => {
        if (!image) waitForImage = false;
        if (!video) waitForVideo = false;
        if(!waitForImage && !waitForVideo) movieStore.createMovie(movieData);

        let reader = new FileReader();
        if (image && waitForImage) {
            reader.readAsDataURL(image);
        } else if (video && waitForVideo) {
            reader.readAsDataURL(video);
        }
        reader.onload = async e => {
            let base64Type = getTypeOfBase64(e.target.result)
            const response = await media.postMedia(e.target.result, base64Type);
            if (response.link && waitForImage) {
                movieData.imageLink = response.link;
                waitForImage = false;
            } else if(response.link && waitForVideo) {
                movieData.videoLink = response.link;
                waitForVideo = false;
            }
            if (video && waitForVideo) {
                pushFiles();
                return;
            }
            if (!waitForImage && !waitForVideo) movieStore.createMovie(movieData);
        };
    }

    //clearing store first, remove any existing errors
    errorStore.setError(null);
    let error = errorStore.error;

    const onImageSelected = (e) => {
        image = e.target.files[0];
        if(image.size >= 20000000) {
            errorStore.setError("Image must be smaller than 20MB.")
        } else {
            document.getElementById("image-label").innerText = image.name;
        }
    }

    const onVideoSelected = (e) => {
        video = e.target.files[0];
        if(video.size >= 20000000) {
            errorStore.setError("Video must be smaller than 20MB.")
        } else {
            document.getElementById("video-label").innerText = video.name;
        }
    }

    function getTypeOfBase64(base64string) {
        let strings = base64string.split(",");
        if (strings[0] === "data:video/mp4;base64") {
            return "video";
        }
        return "image";
    }

    export {
        movieData, error
    }
</script>

<main>
    <div class="container createMovie__form">
        <div class="row">
            <form class="form">
                <h1 class="mb-4">CREATE MOVIE</h1>

                {#if $error}
                    <div class="form__row">
                        <Alert bind:error={$error}/>
                    </div>
                {/if}

                <label for="title" class="form__label">TITLE</label>
                <div class="form__row">
                    <input id="title" type="text" bind:value="{movieData.title}" name="title"
                           class="input input__text {$error && !movieData.title ? 'inputError' : ''}"
                           placeholder="Enter title" autocomplete="off">
                </div>

                <label for="description" class="form__label">DESCRIPTION</label>
                <div class="form__row">
                    <input id="description" type="text" bind:value="{movieData.description}" name="description"
                           class="input input__text {$error && !movieData.description ? 'inputError' : ''}"
                           placeholder="Enter description" autocomplete="off">
                </div>

                <label for="category" class="form__label">CATEGORY</label>
                <div class="form__row">
                    <input id="category" type="text" bind:value="{movieData.category}" name="category"
                           class="input input__text {$error && !movieData.category ? 'inputError' : ''}"
                           placeholder="Enter category" autocomplete="off">
                </div>

                <label for="length" class="form__label">LENGTH</label>
                <div class="form__row">
                    <input id="length" type="number" min="0" bind:value="{movieData.lengthInMinutes}" name="lengthInMinutes"
                           class="input input__text {$error && !movieData.lengthInMinutes ? 'inputError' : ''}"
                           placeholder="Enter length in minutes" autocomplete="off">
                </div>

                <label for="releaseYear" class="form__label">RELEASE YEAR</label>
                <div class="form__row">
                    <input id="releaseYear" type="number" min="0" bind:value="{movieData.yearOfRelease}" name="yearOfRelease"
                           class="input input__text {$error && !movieData.yearOfRelease ? 'inputError' : ''}"
                           placeholder="Enter year of release" autocomplete="off">
                </div>

                <label for="rating" class="form__label">RATING</label>
                <div class="form__row">
                    <input id="rating" type="number" min="0" max="10" bind:value="{movieData.rating}" name="rating"
                           class="input input__text {$error && !movieData.rating ? 'inputError' : ''}"
                           placeholder="Enter rating" autocomplete="off">
                </div>

                <label for="image" class="form__label">IMAGE</label>
                <div class="form__row">
                    <input style="display: none" id="image" type="file" accept=".jpg, .jpeg, .png"
                           class="input input__text {$error && !image ? 'inputError' : ''}"
                           on:change={(e)=>onImageSelected(e)}>
                    <label id="image-label" class="media__label" for="image">Upload an image</label>
                </div>

                <label for="video" class="form__label">TRAILER</label>
                <div class="form__row">
                    <input style="display: none" id="video" aria-label="lol" type="file" accept=".mp4"
                           class="input input__text {$error && !video ? 'inputError' : ''}"
                           on:change={(e)=>onVideoSelected(e)}>
                    <label id="video-label" class="media__label" for="video">Upload a video</label>
                </div>

                <div class="form__row">
                    <input id="createMovie-button" type="submit" value="CREATE"
                           on:click|preventDefault="{() => createMovie()}">
                </div>
            </form>
        </div>
    </div>
</main>

<style>
    .createMovie__form {
        margin-top: 1em;
        width: 40%;
        box-shadow: 5px 5px 15px 5px;
        background: var(--dark);
        border-radius: 10px;
    }

    .media__label {
        cursor: pointer;
    }

</style>

