*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.text--white {
    color: white !important;
}


@media screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	background-image: url("../../images/webtech-background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
    min-height: calc(100vh - 100px);
}

/* main {
    padding-top: 1rem;
} */


a {
	color: var(--primary-blue);
	text-decoration: none;
}

a:hover {
	color: var(--primary-green);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--primary-blue);
	background: transparent;
	outline: none;
	border: none;
}

button:hover {
	color: var(--primary-green);
}

button:disabled {
	color: #999;
}

button:focus {
	color: var(--primary-green);
}

.card {
	overflow: hidden;
}

