.form {
    width: 100%;
    height: 100%;
    padding: 2.5em;
    text-align: center;
}

.form__label {
    color: white !important;
    padding-bottom: 0.5em;
    font-size: 1.25em;
}

.form__row {
    display: flex;
    flex-direction: column;
}

.form__row:not(:last-child){
    margin-bottom: 2rem;
}

.form__row > a{
    font-size: 1.2rem;
}

.form__wrapper {
    width: 60%;
    box-shadow: 5px 5px 15px 5px #CECECE;
}

.form__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: white;
}

.form__left > img, .form__left > a > img  {
    max-width: 190px;
    max-height: 190px;
    width: auto;
    height: auto;
    margin-bottom: 2rem;
}

.form__left__title {
    border-bottom: 1px solid black;
    text-align: center;
}

.form__right {
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    color: white;
    padding:2rem;
}

.page__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
}


.input__text {
    font-size: 1rem;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
}

.form h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.form input[type = "text"], .form input[type = "password"], .form input[type = "number"], .form input[ type= "datetime-local"], .media__label {
    background: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid var(--primary-blue);
    padding: 0.875em 0.625em;
    width: 100%;
    outline: none;
    color: white;
    border-radius: 1.5em;
    transition: 0.25s;
}

.form input[type = "text"]:focus, .form input[type = "password"]:focus, .form input[type = "number"]:focus, .form input[ type= "datetime-local"]:focus {
    border-color: var(--primary-green);
}

.form input[type = "submit"] {
    background: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid var(--primary-green);
    padding: 0.875em 2.5em;
    outline: none;
    color: white;
    border-radius: 1.5em;
    transition: 0.25s;
    cursor: pointer;
    font-size: 1rem;
}

.form input[type = "submit"]:hover {
    background: var(--primary-green);
}

.form .inputError {
    border-color: crimson !important;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    padding: 5px;
    cursor: pointer;
    filter: invert(100%);
}

/* Mobile phones */
@media screen and (max-width: 576px) {
    .login {
        padding-top: 2rem;
        height: initial;
    }
}



