<script>
    import router from "page";
    import { NotificationDisplay } from "@beyonk/svelte-notifications";

    //Views
    import Home from "./views/Home.svelte";
    import Login from "./views/Login.svelte";
    import Register from "./views/Register.svelte";
    import CreateAuction from "./views/Auctions/CreateAuction.svelte"
    import CreateMovie from "./views/Movies/CreateMovie.svelte";
    import Movies from "./views/Movies/Movies.svelte";
    import PageNotFound from "./views/PageNotFound.svelte";

    //Middleware
    import IsLoggedIn from "./middleware/IsLoggedIn.js";
    import IsAdmin from "./middleware/IsAdmin.js";

    //Components
    import Auction from "./views/Auctions/AuctionPage.svelte";

    //etc
    import Navbar from "./components/Navbar.svelte"
    import Account from "./views/Account.svelte";
    import user from "./store/user.js";

    user.restoreFromSessionStorage();

    // Routes (pagejs)
    let page;
    let params;
    router('', (ctx) => page = Home);
    router('/Login', (ctx) => page = Login);
    router('/register', (ctx) => page = Register);

    router('/account', IsLoggedIn, (ctx) => page = Account);
    router('/movies', IsLoggedIn, IsAdmin, (ctx) => page = Movies)
    router('/movies/new', IsLoggedIn, IsAdmin, (ctx) => page = CreateMovie);
    router('/movies/:id/sell', IsLoggedIn, IsAdmin, (ctx, next) => {
        params = ctx.params;
        page = CreateAuction;
        next();
    });

    router('/auctions/:id', (ctx, next) => {
        params = ctx.params;
        page = Auction;
        next();
    });

    router.start();

</script>

<NotificationDisplay/>

<!--
The Navbar should be visible on every page, excl. the login / registry page.
Therefore we are loading it automatically and not in every component.
-->
{#if page !== Register && page !== Login}
    <Navbar/>
{/if}

{#if page !== undefined}
    {#if params === undefined}
        <svelte:component this="{page}"/>
    {:else}
        <svelte:component this="{page}" {params}/>
    {/if}
{:else}
    <svelte:component this="{PageNotFound}"/>
{/if}
