<script>
    import movieStore from "../../store/movie.js";
    import router from "page";

    let statusText = "All"
    let filters = {
        title: null,
        status:"all"
    }

    const setStatusText = () => {
        if(status === "all") {
            statusText = "All"
        } else if(status === "sellable") {
            statusText = "Sellable"
        } else {
            statusText = "Sold"
        }
    }

    const setStatus = (data) => {
        status = data;
        setStatusText()
    }

    let searchTerm = '';
    let status = "all"
    $: movieStore.searchTerm.set(searchTerm)

    $: movieStore.status.set(status)

</script>

<nav class="navbar navbar-expand-lg navbar-dark movie-filter">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Search -->
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Zoek Movie" aria-label="Search" bind:value="{searchTerm}">
        </form>

        <!-- Status -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <button class="dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {"Status: " + statusText}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><button class="dropdown-item movie-filter__status-menu-item" on:click="{() => setStatus('all')}">All</button></li>
                    <li><button class="dropdown-item movie-filter__status-menu-item" on:click="{() => setStatus('sellable')}">Sellable</button></li>
                    <li><button class="dropdown-item movie-filter__status-menu-item" on:click="{() => setStatus('sold')}">Sold</button></li>
                </ul>
            </li>
        </ul>
        <a class="movie-filter__create" href="/movies/new">Add Movie</a>
    </div>
</nav>

<style>
    .movie-filter {
        width: 100% !important;
        margin-bottom: 2rem;
        background-color: var(--dark) !important;
        border-radius: 10px;
        padding: 0.5rem 0.8rem ;
        display: flex;
        align-items: center;
    }

    .movie-filter__create {
        margin-left: auto !important;
    }

    .movie-filter__status-menu-item {
        color: var(--primary-blue) !important;
    }

    .movie-filter__status-menu-item:hover {
        color: var(--primary-green) !important;
    }
</style>