<script>
    import { slide } from 'svelte/transition';
    import Movie from "./Movie.svelte";
    import movieStore from "../../store/movie";
    import Pagination from "../Pagination.svelte";
    import MovieFilter from "./MovieFilter.svelte";

    let paginatedMovies = [];
    let filteredMovies = movieStore.getFilteredMovies();

    const fetchedMovies = movieStore.rawMovies;

    //Watcher handles the fetch data after movieStore.fetchData is done.
    $: {
        handleFetchData($fetchedMovies);
    }

    const handleFetchData = (data) => {
        setPaginatedMovies(1);
    }

    //Watcher
    $: {
        filteredListChanged($filteredMovies);
    }

    //Pagination
    const perPage = 9;
    const changePage = (params) => {
        setPaginatedMovies(params.page)
    }

    const filteredListChanged = (filteredList) => {
        setPaginatedMovies(1)
    }

    const setPaginatedMovies = (page) => {
        paginatedMovies = movieStore.paginatedMovieList(page, perPage);
    }
</script>

{#await movieStore.fetchData() }
    <div class="spinner-border" role="status"></div>
{:then movies}

    <section class="movie-section">
        <MovieFilter/>

        {#if paginatedMovies.length <= 0}
            <div class="movie-section">
                <p>No movies found</p>
            </div>
        {:else}
            <div class="movie-wrapper">

                {#each paginatedMovies as item}
                <span in:slide>
                    <Movie movie={item}/>
                </span>
                {/each}

            </div>

            <Pagination
                amountOfItems="{$filteredMovies.length}"
                {perPage}
                on:change="{(ev) => changePage(ev.detail)}"
            />
        {/if}
    </section>
{/await}

<style>
    .movie-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 100%;
    }

    .movie-wrapper {
        margin-bottom: 2rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
        grid-row-gap: .5em;
        grid-column-gap: 1em;
    }
</style>