<script>
    import router from "page";
    import movieStore from "../../store/movie.js";

    export let movie;
    export let showStatus = true;

    const sellMovie = () => {
        router.redirect(`/movies/${movie.id}/sell`)
    }

    const deleteMovie = () => {
        movieStore.deleteMovie(movie.id);
    }

</script>

<div class="movie-card">
    <div class="movie-card__image">
        {#if movie.imageLink}
            <img src="{movie.imageLink}" alt="Movie Poster">
        {:else}
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="Movie Poster">
        {/if}
    </div>
    <div class="movie-card__card">
        <div class="card-header movie-card__card__header">
            <span class="ms-1"> {movie.title} </span>
        </div>

        <div class="card-body pt-1">
            <span class="movie-card__card__details">{movie.category} / {movie.lengthInMinutes} &nbsp <i class="bi bi-stopwatch"></i> &nbsp / {movie.rating}
                &nbsp <i class="bi bi-star"></i> &nbsp / {movie.yearOfRelease}
            </span>

            <hr/>
            {#if showStatus}
                <span><strong>Status:</strong> {!movie.isSold ? 'Sellable' : 'Sold'}</span>
                <hr/>
            {/if}
            <div class="movie-card__card__description mb-2">
                <p class="mb-0"><strong>Description:</strong></p>
                <span>{movie.description}</span>
            </div>
            <hr/>

            {#if showStatus}
                <div class="movie-card__delete">
                    {#if !movie.isSold}
                        <button class="movie-card__sell-button" on:click="{sellMovie}">Sell</button>
                    {:else }
                        <button disabled class="movie-card__sell-button">Sold</button>
                    {/if}
                    <button class="movie-card__delete-button" on:click="{deleteMovie}"><i class="bi bi-trash"></i>
                    </button>
                </div>
            {/if}
        </div>
    </div>

</div>

<style>

    .movie-card {
        min-width: 40vh;
        max-width: 50vh;
    }

    .movie-card__delete {
        display: flex;
        justify-content: center;
    }

    .movie-card__sell-button {
        border: 1px solid var(--primary-blue);
        border-radius: 1.5em;
        padding: 0.5em 1.5em;
    }

    .movie-card__sell-button:disabled, .movie-card__sell-button:disabled:hover {
        border: 1px solid gray;
    }

    .movie-card__sell-button:hover {
        border: 1px solid var(--primary-green);
    }

    .movie-card__delete-button {
        height: 100%;
        font-size: 1.3em;
    }

    .movie-card__card__details {
        display: flex;
        justify-content: center;
    }

    .movie-card__image {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.5rem;
        width: 100%;
        height: 15em;
        box-shadow: 5px 5px 15px 5px #bbb9b9;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .movie-card__image > img {
        width: 100%;
    }

    .movie-card__card {
        position: relative;
        left: 50%;
        transform: translate(-50%, -25px);
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.5rem;
        width: 95%;
        background-color: var(--dark);
        color: white;
        padding-top: 0;
        overflow: hidden;
    }

    .movie-card__card__header {
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .movie-card__card__description {
        height: 6em;
        overflow: hidden;
    }
</style>
