<script>
    export let movie = [];
</script>

<div class="mt-4 form__left__body">
    <div>
        <p class="text-center movie__title">{movie.title}</p>
    </div>

    <div class="text-center movie__details">
        <p>{movie.category} / {movie.lengthInMinutes} <i class="bi bi-stopwatch"></i> / {movie.rating}
            <i class="bi bi-star"></i> / {movie.yearOfRelease} </p>
    </div>

    <div class="movie__description-section">
        <p class="description__title"><strong>Description</strong></p>
        <p class="movie__description-section__text">{movie.description}</p>
    </div>
</div>

