<script>
    import user from "../../store/user";
    import userStore from "../../store/user";
    import auctionStore from "../../store/auction";

    const loggedInUser = user.getUser();
    const isAdmin = userStore.getIsAdmin();
    const fetchedAuctions = auctionStore.rawAuctions;

    export let bids = [];

    function tryDelete(bidId, userId, auctionId) {
        if($loggedInUser) {
            if(($loggedInUser.id === userId) || $isAdmin) {
                auctionStore.deleteBidFromAuction(bidId, auctionId);
            }
        }
    }
</script>

<div class="bids-holder">
    <table>
        <tr>
            <th>
                Price
            </th>
            <th>
                Date
            </th>
            <th>
                UserID
            </th>
            <th>
                BidID
            </th>
            <th>
                Delete
            </th>
        </tr>
        {#each bids as bid}
            <tr>
                <td>
                    €{bid.price}
                </td>
                <td>
                    {bid.date}
                </td>
                <td>
                    {bid.userId}
                </td>
                <td>
                    {bid.id}
                </td>
                <td>
                    <button on:click={() => tryDelete(bid.id, bid.userId, bid.auctionId)}>
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        {/each}
    </table>
</div>

<style>
    .bids-holder {
        overflow-x: auto;
        background-color: rgba(185, 193, 197, 0.33);
        border-radius: 0.5em;
        padding: 1em;
        width: 75%;
        text-align: center;
    }

    th {
        border-bottom: 0.1em solid #b0a9a9;
    }

    td {
        padding-left: 1em;
        padding-right: 1em;
    }

    td:first-child {
        padding-left: 0;
    }

    td:last-child {
        padding-right: 0;
    }

    table td + td {
        border-left: 1px dashed #808080;
    }

</style>