<script>
    import Alert from "../Alert.svelte";
    import user from "../../store/user";
    import auctionStore from "../../store/auction";
    import AuctionCountdown from "../Auction/AuctionCountdown.svelte";
    import errorStore from "../../store/error"

    const fetchedAuctions = auctionStore.rawAuctions;
    const loggedInUser = user.getUser()
    export let auctionID;
    let auction = [];
    let highestBid = null;
    let bidBody = {
        price: null
    }
    errorStore.setError(null)
    let error = errorStore.error;

    //Watcher handles the fetch data after auctionStore.fetchData is done.
    $: {
        handleFetchData($fetchedAuctions)
    }

    const handleFetchData = (data) => {
        for (let item of data) {
            if (auctionID === item.id) {
                auction = item;
                if (auction.bids.length > 0) {
                    highestBid = auction.bids[auction.bids.length - 1].price;
                } else {
                    highestBid = auction.startingPrice;
                }
            }
        }
    }

    const createBid = (event) => {
        event.preventDefault();

        if (!bidBody.price) {
            const errorMessage = "Price cannot be empty!";
            errorStore.setError(errorMessage);
            return;
        }
        if (bidBody.price <= highestBid) {
            const errorMessage = "Price must be higher than €" + highestBid;
            errorStore.setError(errorMessage);
            return;
        }

        auctionStore.addBidToAuction(auction.id, bidBody)
    }

    export {
        error
    }


</script>

<div class="bid-container">
    {#await auctionStore.fetchData()}
        Loading auction...
    {:then test}
        {#if highestBid}
            <div class="info-display">
                <AuctionCountdown auctionID="{auction.id}"/>
                <div class="current-container">
                    {#if auction.hasEnded}
                        <div class="price-holder">
                            <h5 class="price">Final price:</h5>
                            <h5>€{highestBid}</h5>
                        </div>
                    {:else}
                        <div class="price-holder">
                            <h5 class="price">Current Price:</h5>
                            <h5>€{highestBid}</h5>
                        </div>
                    {/if}
                </div>
            </div>
        {:else}
            <div>
                This auction has no bids!
            </div>
        {/if}
        {#if !auction.hasEnded}
            {#if $loggedInUser}
                <form class="form">
                    <h1 class="mb-4">PLACE A BID</h1>

                    {#if $error}
                        <div class="form__row">
                            <Alert bind:error={$error}/>
                        </div>
                    {/if}

                    <div class="form__row">
                        <input type="number" bind:value="{bidBody.price}" name="price"
                               class="input input__text {$error && bidBody.price ? 'inputError' : ''}"
                               placeholder="Price"
                               autocomplete="off">
                    </div>

                    <div class="form__row">
                        <input id="createBid-button" type="submit" value="CREATE" on:click="{ createBid }">
                    </div>
                </form>
            {:else}
                <a href="/login">Want to place a bid on this auction? Log in to your account!</a>
            {/if}
        {/if}
    {/await}

</div>

<style>
    .info-display {
        border: 1px solid black;
        padding: 1em;
        border-radius: 10px 10px 0 0;
        box-shadow: 5px 5px 15px 5px #CECECE;
    }

    .bid-container {
        text-align: center;
    }

    .form {
        background-color: #060826;
        border-radius: 0 0 10px 10px;
    }

    .price {
        font-style: italic;
        opacity: 75%;
    }

    .price-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }
</style>
