<script>

import PriceRangeSlider from "./PriceRangeSlider.svelte";
</script>

<div>
    <h5>
        Price range
    </h5>

    <div>
        <PriceRangeSlider/>
    </div>
</div>

<style>
    h5 {
        color: #75a1c2;
    }
</style>