<script>
    import Slider from '@bulatdashiev/svelte-slider';
    import { priceRange, setPriceRange } from "../../store/auction"

    let defaultRange = $priceRange;

    const minPrice = defaultRange[0];
    const maxPrice = defaultRange[1];

    let range = [minPrice, maxPrice];

    let minVal = "";
    let maxVal = "";

    function resetValues(inputField) {
        maxVal = "";
        minVal = "";
        if(inputField){
            document.getElementById(inputField).blur();
        }
    }

    const onKeyPress = (e, inputField) => {
        // If : 'enter'
        if (e.keyCode === 13) {
            changeInput(minVal, maxVal, inputField);

          // If : 'escape'
        } else if (e.keyCode === 27) {
            resetValues(inputField);
        }
    };

    function changeInput(minimum, maximum, inputField) {
        if (minimum === "") {
            minimum = range[0];
        }
        if (maximum === "") {
            maximum = range[1];
        }

        let max = parseInt(maximum);
        let min = parseInt(minimum);

        if ((min >= minPrice && min <= maxPrice) && (max >= minPrice && max <= maxPrice)) {
            if (min >= max) {
                if(inputField === "max-input") {
                    range[0] = minPrice;
                    range[1] = max;
                } else if (inputField === "min-input") {
                    range[0] = min;
                    range[1] = maxPrice;
                }
            } else {
                range[0] = min;
                range[1] = max;
            }
        }
        setPriceRange(range)
        resetValues(inputField)
    }
</script>

<div>
    <p>
        Min:
    </p>
    <input id="min-input" bind:value={minVal} placeholder="{range[0]}"
           on:keydown={(e) => onKeyPress(e, "min-input")}>
    <p>
        Max:
    </p>
    <input id="max-input" bind:value={maxVal} placeholder="{range[1]}"
           on:keydown={(e) => onKeyPress(e, "max-input")}>

</div>
<Slider on:input={() => changeInput(minVal, maxVal)} min="{minPrice}" max="{maxPrice}" step="1" bind:value={range} range order/>

<style>
    div {
        color: #1886DB;
    }

    p {
        margin-top: 0.1em;
        margin-bottom: 0.1em;
        padding: 0;
    }

</style>