<script>
    import user from "../store/user.js"
    import auctionStore from "../store/auction.js"
    import BidWrapper from "../components/Bid/BidWrapper.svelte";

    let myAuctions = auctionStore.rawAuctions;
    let userBids = [];

    if ($myAuctions.length < 1) {
        auctionStore.fetchData()
    }

    const loggedInUser = user.getUser()

    const isHighestBidder = (auction) => {
        let highestBid;
        if (auction.bids.length < 1) return false;

        auction.bids.forEach(bid => {
            if (bid.userId === $loggedInUser.id) {
                userBids.push(bid)
            }
            if (highestBid) {
                if (highestBid.price < bid.price) {
                    highestBid = bid;
                }
            } else {
                highestBid = bid;
            }
        })

        return highestBid.userId === $loggedInUser.id
    }
</script>

{#if $loggedInUser}
    <main>
        <div class="account-wrapper">
            <div class="mb-3 account-page">
                <div class="account-page__left">
                    <div class="profile__image">
                        <img class="mb-2" width="60%" height="70%"
                             src="https://ph-files.imgix.net/2fb378d7-0035-4a85-817c-e819d8f5dbaa.png?auto=format&auto=compress&codec=mozjpeg&cs=strip"
                             alt="User">
                    </div>
                    <div class="profile__name">
                        <h1>{$loggedInUser.username}</h1>
                    </div>
                </div>
                <div class="account-page__right">
                    <div class="profile__details">
                        <div>
                            <h2>Profile Information:</h2>
                        </div>
                        <hr/>
                        <div>
                            <span><strong>Username:</strong> {$loggedInUser.username}</span><br/>
                            <span><strong>Email:</strong> {$loggedInUser.email}</span><br/>
                            <span><strong>Roles:</strong> {$loggedInUser.roles}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="account-page__auctions">
                <div class="account-page__auctions__header">
                    <h1>Bought items:</h1>
                </div>
                <hr/>
                <div class="account-page__auctions__body">
                    {#if $myAuctions.length > 0}
                        {#each $myAuctions as auction}
                            {#if isHighestBidder(auction) && auction.hasEnded}
                                <p><strong>Movie: </strong>{auction.movie.title}</p>
                            {/if}
                        {/each}
                    {:else}
                        <p>No Items found!</p>
                    {/if}
                </div>
            </div>
            <hr/>
            <div class="account-page__auctions">
                <div class="account-page__auctions__header">
                    <h1>Placed Bids:</h1>
                </div>
                <hr/>
                <div class="account-page__auctions__body">
                    {#if $myAuctions.length > 0}
                        {#if userBids.length > 0}
                            <BidWrapper bids="{userBids}"/>
                        {/if}
                    {:else}
                        <p>No Items found!</p>
                    {/if}
                </div>
            </div>
        </div>
    </main>
{/if}
<style>
    .account-wrapper {
        flex-direction: column;
    }

    .account-page, .account-wrapper, .profile__image, .profile__name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .account-page, .account-page__auctions {
        flex-direction: row;
        box-shadow: 5px 5px 15px 5px #CECECE;
        width: 80%;
        border-radius: 0.8rem;
        background: white;
        padding: 1.5em;
        overflow: hidden;
    }

    .account-page__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, .125);
    }

    .account-page__right {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 1em;
    }

    .profile__image, .profile__name {
        width: 100%;
        align-items: center;
    }

    .profile__details {
        width: 100%;
    }

    .account-page__auctions__header > h1 {
        font-size: 2rem;
    }


</style>

