<script>
    import user from "../store/user"
    import AuctionWrapper from "../components/Auction/AuctionWrapper.svelte"

    const loggedInUser = user.getUser()

</script>

<main>
    <div class="container">
        {#if $loggedInUser}
            <h1 class="mb-4">Welcome back {$loggedInUser.username}!</h1>
        {:else}
            <a href="/login">
                <h1 class="mb-4">Welcome to The Grand Exchange!</h1>
            </a>
        {/if}
        <AuctionWrapper/>

    </div>
</main>
