<script>
    import user from "../store/user.js"
    import errorStore from "../store/error.js"
    import Alert from "../components/Alert.svelte";

    let userData = {
        email: "WebTech@Admin.com",
        password: "GoodPassword123"
    }

    const login = (event) => {
        event.preventDefault();
        user.login(userData)
    }

    //clearing store first, remove any existing errors
    errorStore.setError(null);
    let error = errorStore.error;

    export {
        userData, login, error
    }
</script>

<main class="login">
    <div class="container form__wrapper">
        <div class="row">
            <div class="col-12 col-lg-6 form__left">
                <a href="/">
                    <img width="400" height="400" src="./images/bond.png" alt="ge-logo"/>
                </a>
                <div class="border-0 form__left__title">
                    <h2>The Grand Exchange</h2>
                </div>

            </div>
            
            <div class="col-12 col-lg-6 form__right">
                <form class="form">
                    <h1 class="mb-4">Login</h1>

                    {#if $error}
                        <div class="form__row">
                            <Alert bind:error={$error}/>
                        </div>
                    {/if}

                    <label for="email" class="form__label">EMAIL</label>
                    <div class="form__row">
                        <input id="email" type="text" bind:value="{userData.email}" name="email" class="input input__text {$error && !userData.email ? 'inputError' : ''}" placeholder="Enter your email" autocomplete="off">
                    </div>

                    <label for="password" class="form__label">PASSWORD</label>
                    <div class="form__row">
                        <input id="password" type="password" bind:value="{userData.password}" name="password" class="input input__text {$error && !userData.password ? 'inputError' : ''}" placeholder="Enter your password" autocomplete="off">
                    </div>

                    <div class="form__row">
                        <input id="login-button" type="submit" value="LOG IN" on:click="{ login }">
                    </div>

                    <div class="form__row">
                        <a href="/register">> Create a New Account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<style>
    .login {
        height: calc(100vh - 75px);
        /* width: 100vw; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Mobile phones */
    @media screen and (max-width: 576px) {
        .login {
            padding-top: 2rem;
            height: initial;
        }
    }
</style>



