<script>

</script>


<main>
    <div class="pageNotFound__wrapper pt-2">
        <div class="pageNotFound__body">

            <div class="pageNotFound__title">
                <p><i class="bi bi-bug"></i> Page Not Found!</p>
            </div>

            <div class="pageNotFound__body">
                <p>We're sorry, the page you requested could not be found. Please go back to the homepage.</p>
            </div>

            <a href="/"><i class="bi bi-house"></i> Home</a>


        </div>

    </div>
</main>

<style>

    .pageNotFound__wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        box-shadow: 5px 5px 15px 5px #CECECE;
        display: flex;
        justify-content: center;
        padding: 1em;
        border-radius: 10px;
        background: white;
    }

    .pageNotFound__title {
        font-size: 3em;
        color: var(--primary-blue);
        text-align: center;
    }

    .pageNotFound__body {
        font-size: 1.5em;
        text-align: center;
    }

</style>