<script>
    import user from "../store/user.js"
    import errorStore from "../store/error.js"
    import Alert from "../components/Alert.svelte";

    let userData = {
        email: null,
        username: null,
        password: null
    }

    const register = (event) => {
        event.preventDefault();
        user.register(userData)
    }

    //clearing store first, remove any existing errors
    errorStore.setError(null);
    let error = errorStore.error;

    export {
        userData,
        register,
        error
    }
</script>

<main class="register">
    <div class="container form__wrapper">
        <div class="row">
            <div class="col-12 col-lg-6 form__left">
                <img width="400" height="400" src="./images/bond.png" alt="ge-logo"/>
                <div class="border-0 form__left__title">
                    <h2>The Grand Exchange</h2>
                </div>
            </div>

            <div class="col-12 col-lg-6 form__right">
                <form class="form">
                    <h1 class="mb-4">Register</h1>

                    {#if $error}
                        <div class="form__row">
                            <Alert bind:error={$error}/>
                        </div>
                    {/if}

                    <label for="email" class="form__label">EMAIL</label>
                    <div class="form__row">
                        <input id="email" type="text" bind:value="{userData.email}" name="email" class="input input__text {$error && !userData.email ? 'inputError' : ''}" placeholder="example@mail(.com/.nl)" autocomplete="off">
                    </div>

                    <label for="username" class="form__label">USERNAME</label>
                    <div class="form__row">
                        <input id="username" type="text" bind:value="{userData.username}" name="username" class="input input__text {$error && !userData.username ? 'inputError' : ''}" placeholder="Enter a name" autocomplete="off">
                    </div>

                    <label for="password" class="form__label">PASSWORD</label>
                    <div class="form__row">
                        <input id="password" type="password" bind:value="{userData.password}" name="password" class="input input__text {$error && !userData.password ? 'inputError' : ''}" placeholder="Enter a password" autocomplete="off">
                    </div>

                    <div class="form__row">
                        <input id="login-button" type="submit" value="REGISTER" on:click="{ register }">
                    </div>

                    <div class="form__row">
                        <a href="/login">> Log In</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<style>
    .register {
        height: calc(100vh - 75px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Mobile phones */
    @media screen and (max-width: 576px) {
        .register {
            padding-top: 2rem;
            height: initial;
        }
    }
</style>